#playerRoot {
    -fx-background-color: rgba(27, 17, 5, 0.3);
}

#mainBoard {
    -fx-font-family: BlackChancery, sans-serif;
    -fx-background-image: url("../../images/game_board.jpg");
    -fx-height: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#playerOption {
    -fx-font-size: 30px;
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

#playerOption:hover {
    -fx-text-fill: #ffc5e9;
}

#opponentPlayer {
    -fx-font-size: 30px;
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
    -fx-padding: 0 138 0 0;
}

#playerRow {
    -fx-padding: 20;
}


