#titleLabel {
    -fx-font-size: 80;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

#menuItem {
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
    -fx-alignment: center;
    -fx-underline: false;
    -fx-padding: 0px 0px 0px 0px;

}

#menuItem:hover {
    -fx-text-fill: #ffc5e9;
}

#smallMenuItem {
    -fx-text-fill: #525251;
    -fx-underline: false;
}

#dialogPaneMain {
    -fx-background-color: #459ca8;
    -fx-font-size: 20;
    -fx-font-family: BlackChancery, sans-serif;
}

#creditContent {
    -fx-text-fill: black;
    -fx-font-family: Chlorinar, sans-serif;
}

#subRoot {
    -fx-font-family: BlackChancery, sans-serif;
    -fx-background-image: url("../../images/title_screen.jpg");
    -fx-height: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}