#titleLabel {
    -fx-font-size: 80;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

#menuItem {
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
    -fx-alignment: center;
    -fx-underline: false;

}

#menuItem:hover {
    -fx-text-fill: #ffc5e9;
}

#smallTextItem {
    -fx-text-fill: white;
}